.category {
    color: #666;
}
.cardItemContainer {
    text-align: center;
}
.name {
    font-size: 20px;
    margin: .5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.inverseCard {
    text-align: left;
}
.label {
    color: #666;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
}
.labelBackground {
    color: #666;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    background-color: #fef7e0;
    padding: 15px;
    border-radius: 10px;
    text-align: justify;
}
.imageContainer {
    max-width: 160px;
    margin: 0 auto;
}
.image {
    max-width: 100%;
    padding: 0 .5rem;
}
.imageReverse {
    max-width: 100%;
    padding: 0 .5rem;
    transform: rotate(180deg);
}
.description {
    text-align: left;
    margin-bottom: .8rem;
}
.cardExtraContainer {
    margin-bottom: .8rem;
}
.cardExtra {
    text-align: left;
    line-height: 1.5rem;
    margin-bottom: .8rem;
}
.cardAssociation {
    text-align: left;
    line-height: 1.5rem;
    margin-bottom: .8rem;
}
.textPrimary {
    color: #0C94E4;
}
.tagsDisplay {
    /* float: left; */
    border:0.1px solid #D6DBDF;
    margin: 0 4px 4px 0;
    padding: 5px;
    border-radius: 10px
}


